body {
	font-size: 14px;
	font-family: "Courier New", serif;
	background-color: black;
	color: white;
}

button, input[type=button], input[type=file] {
/* 	styles reset, including removing the default dropdown arrow */
	appearance: none;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	display: inline-block;
}

button, input[type=submit], input[type=button], input[type=file] {
	cursor: pointer;
	font-family: "Courier New", serif;
	text-align: center;
	white-space: nowrap;
	min-width: 28px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: none;
	border-radius: 5px;
	font-size: 12px;
}

button, input[type=submit], input[type=button] {
 	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}

input[type=text], input[type=password], textarea {
	font-family: "Courier New", serif;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	background-color: black;
}

input[type=text] {
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1em;
	padding-right: 1em;
}

textarea {
	padding-top: 1.2em;
	padding-left: 1.2em;
}

select {
	font-family: "Courier New", "Courier", serif;
	color: white;
	background-color: black;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: red;
}

h1 {
	font-size: 40px;
}

hr {
    width: 100%;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: white;
    background-color: white;
}

table {
    border-collapse: collapse;
    border: 0px;
}

body table {
    width: 80%;
}

.dist-alert {
    border: medium solid red;
}

.dist-norm {
    border: none;
}


.navbar_select {
   	background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 5px;
}

.navbar_select a:link {
    color: white
}

.navbar_select a:visited {
    color: white
}

.navbar_select a:active {
    color: white;
}

.TopBanner {
    width: 100%;
}

.LogoDiv {
    position: absolute left:0px;
    width: 100%;
    height: 95;
}

.AREDNLogo {
    background: rgb(231, 231, 231);
    position: absolute;
    left: 10%;
    width: 175;
    height: 95;
    border-style: none;
}

.PartOfAREDN {
	font-family: "Courier New",serif;
    font-size: xx-small;
    text-align: center;
}

/* Used to indicate AREDN node on the /cgi-bin/scan page */
.wscan-row-node {
/*     background-color: rgb(245, 245, 247); */
}

/* Tunnel Page Classes */
.tun_network_row td {
    padding: 5px;
    border: solid 1px black;
    border-radius: 10px;
    /*background-color: rgb(108, 231, 232);*/
    background: rgba(0,0,0,0.8);
    color: #fff;
}

.tun_client_row td {
    padding: 2px;
}

.tun_client_list1:nth-child(odd) {
/*     background: rgba(192, 192, 192, 0.5); */
}

.tun_client_list2:nth-child(even) {
/*     background: rgba(192, 192, 192, 0.5); */
}

.tun_client_center_item {
    vertical-align: middle;
    text-align: center;
}

#node_description_entry {
    vertical-align: middle;
    resize: none;
}

#node_description_display {
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    width: 100%;
}

.hidden-hosts {
    /* light-ish grey */
    color: #595959;
}

.aliased-hosts {
    /* "peru" */
    color: #CD853F;
}
