body {
	font-size: 14px;
	font-family: "Courier New", serif;
	background-color: black;
	color: white;
}

button {
	// styles reset, including removing the default dropdown arrow
	appearance: none;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	display: inline-block;
}

button, input, select, textarea {
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	min-width: 28px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: none;
	font-size: 12px;
	font-family: "Courier New", serif;
	background: gray;
	color: white;
}

button, input, select {
		border-radius: 50px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: red;
}

h1 {
	font-size: 40px;
/* 	font-family: "Courier New",serif; */
}

hr {
    width: 100%;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: white;
    background-color: white;
}

table {
    border-collapse: collapse;
    border: 0px;
}

body table {
/*     font-size: 17px; */
    width: 80%;
}

/*
th {
        background-color: whitesmoke;                                     
        color: black;                           
        font-weight: bold;
        cursor: default;                                               
}
*/

.dist-alert {
    border: medium solid red;
}

.dist-norm {
    border: none;
}


.navbar_select {
    background: blue;
    color: white;
    border-radius: 10px;
}

.navbar_select a:link {
/*     background: rgba(0,0,0,0.8); */
    color: white
}

.navbar_select a:visited {
    background: rgba(0,0,0,0.8);
    color: white
}

.navbar_select a:active {
    background: rgba(0,0,0,0.8);
    color: red;
}

.TopBanner {
    width: 100%;
}

.LogoDiv {
    position: absolute left:0px;
    width: 100%;
    height: 95;
}

.AREDNLogo {
    background: rgb(231, 231, 231);
    position: absolute;
    left: 10%;
    width: 175;
    height: 95;
    border-style: none;
}

.PartOfAREDN {
	font-family: "Courier New",serif;
    font-size: xx-small;
    text-align: center;
}

/* Used to indicate AREDN node on the /cgi-bin/scan page */
.wscan-row-node {
/*     background-color: rgb(245, 245, 247); */
}

/* Tunnel Page Classes */
.tun_network_row td {
    padding: 5px;
    border: solid 1px black;
    border-radius: 10px;
    /*background-color: rgb(108, 231, 232);*/
    background: rgba(0,0,0,0.8);
    color: #fff;
}

.tun_client_row td {
    padding: 2px;
}

.tun_client_list1:nth-child(odd) {
/*     background: rgba(192, 192, 192, 0.5); */
}

.tun_client_list2:nth-child(even) {
/*     background: rgba(192, 192, 192, 0.5); */
}

.tun_client_center_item {
    vertical-align: middle;
    text-align: center;
}

#node_description_entry {
    vertical-align: middle;
    resize: none;
}

#node_description_display {
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    width: 100%;
}

.hidden-hosts {
    /* light-ish grey */
    color: #595959;
}

.aliased-hosts {
    /* "peru" */
    color: #CD853F;
}
